@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2e2e2e;
    height: 5rem;
    padding: 0 1rem;
    
}

.header img {
    width: 12rem;
}

.main-menu ul {

    display: flex;
    font-size: 1.5rem;
    gap: 2rem; 
}

li {
    list-style: none
}

.main-menu a {

    text-decoration: none;
    color: #cecccc;
    
}

.main-site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    padding: 0rem;
    width: 100%;

}

.banner {
    width: 100%;   
}

.banner img {
  
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.curiosidades {
    font-size: 1.5rem;
    color: #2e2e2e;
    margin: 5rem 0 -1rem ;        
}

.main-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    
}


.cards {

    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 5px;
    min-width: 400px;
}

.card-list {
    position: relative;
    top: 0;
    width: 335px;
    height: 534px;

}


.card-1 {

    background: #C4C4C4;
    border-radius: 12px;
}

.card-2 {

    background: #C4C4C4;
    border-radius: 12px;
}

.card-3 {

    background: #C4C4C4;
    border-radius: 12px;
}


.cards .info {
    text-align: center;
    padding: 10px;
    color: #2e2e2e;
    max-width: 500px

}

.cards .container-image {

    text-align: center;
    max-width: 500px
    
}

.cards .races-image {

    max-width: 500px;
    max-height: 350px;

}

.cards .descricao {

    text-align: center;
    padding: 5px;
    max-width: 500px
    
}

.cards .descricao .texto {

    text-align: justify;
    overflow-y: auto;
    padding: 8px;
    max-height: 120px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
         
}

.video {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 5rem 0 -1rem 

}

.teaser {
    display: flex;
    width: 40rem;
    padding: 1.5rem;
    
}

.footer {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    background: #2e2e2e;
    height: 5rem;
    padding: 0 1rem;
}

.footer-logo {

    font-size: 1.5rem;
    color: #cecccc;
 
}

.footer .footer-menu ul {
    
    display: flex;
    
}


.footer-menu a {
    padding: 0 1rem;

}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        height: fit-content;
        padding: 2rem;
        text-align: center;
        
    }

    .main-menu ul {
        flex-direction: column;
        padding: 1rem;
     
    }

  
    .curiosidades {
        text-align: center;
        margin-bottom: 10px;
    }

    
    .cards {
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
        max-width: 400px;
        gap: 50px;
    }

    .card-list {
        max-width: 350px;
    
    }

    .video h2 {
        text-align: center;
    }

    .teaser {
        flex-direction: column;
        align-items: center;
        max-width: 425px;
    }

    .teaser iframe {
        width: 380px;
        height: 350px;
    }

    .footer {
        flex-direction: column;
        height: fit-content;
    }

    .footer-menu ul {
        flex-direction: column;
        padding: 1rem;
    }
}