
/* Header */

.navbar-custom {
    background-color: black;
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {    
    color: rgb(244, 131, 10);
}

.toggler-custom {    
    background-color: rgb(244, 131, 10);
}

.navbar-custom .navbar-nav-custom {
    width: 100%;
    justify-content: end;
    padding-right: 12px;
}


/* Main */


.main-content .welcome {
    min-height: 100vh;
    display: flex;        
    justify-content: center;    
    align-items: center;
    background-image: url(./imagens/Quattroformaggio-detalhe.jpg);    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom;
}

.detalhe {
    padding: 20px;
}

.detalhe .estrela {
    width: 40px;
    top: 20px;
    left: 20px;
}

.main-content .section-title {
    padding: 10px;
    text-align:left;
    font-size: 45px;
    text-align: center;
}

p {
    text-align: center;
}

/* Rodapé */

footer {
    flex: 1;
    background-color: black;
    font-family: sans-serif;
  }
  
  .footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: white;
  }
  
  .footer-names {
    padding: 10px 0;
  }
  
  .footer-names p,i {
    color: white;
  }
    
  .icons img {
    margin-right: 10px;
  }
  
  .footer-msg p {
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);

  }
  
  .active {
    color: #e51b3e !important;
    cursor: default;
  }