
.navbar-custom {
    background-color: rgb(2, 13, 40);
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {    
    color: rgb(244, 131, 10);
}

.toggler-custom {    
    background-color: rgb(244, 131, 10);
}

/* .main-content {

}     */

.main-content .welcome {
    min-height: 100vh;
    display: flex;        
    justify-content: center;    
    align-items: center;
}

section#img01 {
    background-image: url(./imagens/Banner4\ Checkpoint\ 2\ -\ 1300x600\ px.png);    
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;      
}

.main-content .order-button {
    background-color:rgb(2, 13, 40);
    position: relative;
    bottom: -50px;
    font-family: sans-serif;
    color: aliceblue;
    border-radius: 10px;
}

.main-content .section-title {
    padding: 60px 0;
    text-align: center;
    font-size: 45px;
}

.products .row-custom {
    justify-content: center;
    padding: 15px;
}

.card .card-custom {
    max-height: 416px;
}

.card .body-custom {
    height: 200px;
}

.card .body-custom2 {
    height: 238px;
}