@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  scroll-behavior: smooth;
}

/* Header */

.navbar-custom {
  background-color: black;
  font-size: 20px
}

.navbar-custom a {
  color: white;
}

.navbar-custom a:hover {
  color: rgb(244, 131, 10);
}

.toggler-custom {
  background-color: rgb(244, 131, 10);
}

.navbar-custom .navbar-nav-custom {
  width: 100%;
  justify-content: end;
  padding-right: 12px;
}

.navbar-custom .btn-login {
  background-color: rgb(244, 131, 10);
  border-style: none;
  color: rgb(0, 0, 0)
}

.navbar-custom .btn-login:hover {
  transition: 1s;
  transform: scale(1.2);
}

/* Início Modal */

.modal-header-custom {
  border: none !important;
}

.modal-header-custom .btn-close {
  width: 20px;
  height: 20px;
  background-color: rgb(244, 131, 10);
}

.modal-logo {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.modal-img {
  width: 150px;
}

.modal-body {
  padding: 0;
}

.form-content {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.form-content div {
  display: flex;
  flex-direction: column;
}

.form-content input {
  padding: 10px;
  border-radius: 5px;
  border: 0.1px solid #DCDCDC;
}

.form-content input:hover {
  border: 1px solid rgb(244, 131, 10);
  transition: .5s;
}

.modal-footer-custom {
  justify-content: center;
  border: 0;
  margin-bottom: 5px;
}

.modal-footer-custom .btn-secondary {
  width: 300px;
  height: 50px;
  background-color: rgb(244, 131, 10) !important;
  border: none;
}

.modal-footer-custom button:hover {
  color: #171717 !important;
  background-color: rgb(68, 242, 33) !important;
  scale: 1.1;
}


/* Main */


.main-content .welcome {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./imagens/Banner\ 6.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  flex-direction: column;
  
}

.welcome .banner-text {
  font-family: 'Pacifico', cursive;
  color: white;
  text-shadow: 0.2em 0.2em 0.6em black
}

.main-content button {
  background-color: rgb(220, 191, 43);
  position: relative;
  width: 200px;
  height: 60px;
  bottom: -50px;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;

}

.version-mobile {
  display: none;
}

.main-content button:hover {
  transition: 1s;
  transform: scale(1.2);
  background-color: rgb(68, 242, 33);
}


.main-content .section-title {
  margin-top: 40px;
  padding: 115px 0;
  text-align: center;
  font-size: 45px;
}

.products .row-custom {
  justify-content: center;
  padding: 15px;
  gap: 12px;
}

.card .card-custom {
  height: 200px;
}

.card .body-custom {
  height: 200px;
}

.card .body-custom2 {
  height: 200px;
}

.col-sm-12 .button-custom {
  font-family: 'Poppins', sans-serif;
  border-style: none;
  background-color: rgb(244, 131, 10);
}

.col-sm-12 .button-custom:hover {
  font-family: 'Poppins', sans-serif;
  transition: 1s;
  transform: scale(1.1);
  background-color: rgb(68, 242, 33);
  color: black;
}

/* Rodapé */

footer {
  flex: 1;
  background-color: black;
  font-family: sans-serif;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  color: white;
}

.footer-names {
  padding: 10px 0;
}

.footer-names p,
i {
  color: white;
}

.icons img {
  margin-right: 10px;
}

.footer-msg p {
  text-align: center;
  padding: 30px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);

}

.active {
  color: #e51b3e !important;
  cursor: default;
}

@media(max-width: 768px) {

  .footer-menu {

      display: block;
      
  }
  .version-mobile {
    display: flex ;
  }
  .version-tablet {
    display: none;
  }
}
  